{% extends 'layout.html' %}

{% block body %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Coach </h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Swimmers</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Date of Birth</th>
                            <th scope="col">State</th>
                            <th scope="col">Country</th>
                            <th scope="col">Pincode</th>
                            <th scope="col">Phone</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <!-- <tfoot>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Date of Birth</th>
                                            <th scope="col">State</th>
                                            <th scope="col">Country</th>
                                            <th scope="col">Pincode</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </tfoot> -->
                    <tbody>

                        <tr>
                            <td>Student 1</td>
                            <td>1971-08-12</td>
                            <td>Karnataka</td>
                            <td>India</td>
                            <td>560061</td>
                            <td>9876543201</td>
                            <td>
                                <form method="POST">
                                    <input hidden type="text" name=user_id >
                                    <div class="form-group">
                                        <input class="btn btn-primary" type="submit" value="Edit">
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>Student 2</td>
                            <td>1971-08-12</td>
                            <td>Karnataka</td>
                            <td>India</td>
                            <td>560061</td>
                            <td>9876543201</td>
                            <td>
                                <form method="POST">
                                    <input hidden type="text" name=user_id >
                                    <div class="form-group">
                                        <input class="btn btn-primary" type="submit" value="Edit">
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>Student 3</td>
                            <td>1971-08-12</td>
                            <td>Karnataka</td>
                            <td>India</td>
                            <td>560061</td>
                            <td>9876543201</td>
                            <td>
                                <form method="POST">
                                    <input hidden type="text" name=user_id >
                                    <div class="form-group">
                                        <input class="btn btn-primary" type="submit" value="Edit">
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid" style="padding-right: 2.5%;">
    <div class="row">
        <div class="ml-auto">
            <button class="btn btn-primary mb-5" onclick="location.href='/memberProf'" type="button">Add New
                Member</button>
        </div>
            
    </div>
</div>

<!-- /.container-fluid -->

{% endblock %}