{% extends 'layout.html' %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
</li>
{% endblock %}

{% block body %}
<!-- <div>
    <form action="" method="post">
        <label for="">Name</label>
        <input type="text" name="name">
        <label for="">City</label>
        <input type="text" name="city">
        <label for="">State</label>
        <input type="text" name="state">
        <label for="">Zipcode</label>
        <input type="text" name="zipcode">
        <label for="">Gender</label>
        <select name="gender" id="gender" name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="PNTS">Prefer Not to say</option>
        </select>
        <label for="">Phone Number</label>
        <input type="phone" name="phone">
        <div class="form-elements">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div> -->

<div class="container">
    <form class="form-signin myForm" method="post">
        <div class="form-outline mb-4">
            <input type="text" name="name" placeholder="Name" class="form-control">
        </div>
        <div class="form-outline mb-4">
            <input type="text" name="city" placeholder="City" class="form-control">
        </div>
        <div class="form-outline mb-4">
            <input type="text" name="state" placeholder="State" class="form-control">
        </div>
        <div class="form-outline mb-4">
            <input type="text" name="zipcode" placeholder="Zipcode" class="form-control">
        </div>
        <select name="gender" placeholder="Gender" id="gender" name="gender" class="form-select mb-4" aria-label="Default select example">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="PNTS">Prefer Not to say</option>
        </select>        
        <div class="form-outline mb-4">
            <input type="number" name="phone" placeholder="Phone Number" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
    </form>
</div>

{% endblock %}